body {
  font-family: Arial;
  background-image: url("images/background.jpg");
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

nav a {
  color: red;
  margin: 5px;
}

main {
  padding: 10px;
  background-color: white;
}

img {
  width: 300px;
}
