body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("images/background.jpg");
}

header, footer {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

main {
  background: white;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  main {
    margin: 15px auto;
    padding: 15px;
  }
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
